.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

h1{
    font-size:xx-large;
    
}

hr{
    margin-top: 0px;
    height: 2px;
    color: black;
    background-color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-right: 1.5%;
}

button{
    font-size:large;
    border-radius: 0px;
    box-shadow: 10px;
    box-shadow: 0.1em 0.1em black;
    margin-left: 1em;
}

button:hover{
    transform: translate(0.1em,0.1em);
    box-shadow: 0px 0px;
}

#delete-product-bin:hover{
    background-color: rgb(231, 151, 151);
}
