.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 0.2em solid;
    align-self: center;
    padding: 1em;
    cursor: pointer;
    height: 80%;
  }

.card > p {
    margin: 0.5em;
}

.card:hover {
  box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.2);
}
  
.delete-checkbox{
  position:absolute;
  top: 8%;
  left: 8%;
}